<div class="shadow">
  <h1 class="text-center p-4 border border-bottom shadow mb-4">
    {{ title | uppercase }}
  </h1>
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"routerLink="/temas">Lista de Temas</a>
    </li>
    <li class="nav-item" routerLinkActive=" active">
      <a class="nav-link"routerLink="/lista-completa">Lista de Temas Completos</a>
    </li>
    <li class="nav-item" routerLinkActive=" active">
      <a class="nav-link" routerLink="/nuevo-temas">Nuevo Tema</a>
    </li>
  </ul>
</div>
